<?xml version="1.0" encoding="UTF-8"?>

<Values version="2.0">
  <record name="getCategory" javaclass="com.wm.util.Values">
    <value name="urlPath">restV2/HG_Finora:http/getCategory</value>
    <record name="portMap" javaclass="com.wm.util.Values">
    </record>
  </record>
  <record name="getTransactions" javaclass="com.wm.util.Values">
    <value name="urlPath">restV2/HG_Finora:http/getTransactions</value>
    <record name="portMap" javaclass="com.wm.util.Values">
    </record>
  </record>
  <record name="insertTransaction" javaclass="com.wm.util.Values">
    <value name="urlPath">restV2/HG_Finora:http/insertTransaction</value>
    <record name="portMap" javaclass="com.wm.util.Values">
    </record>
  </record>
  <record name="editTransaction" javaclass="com.wm.util.Values">
    <value name="urlPath">restV2/HG_Finora:http/editTransaction</value>
    <record name="portMap" javaclass="com.wm.util.Values">
    </record>
  </record>
  <record name="deleteTransaction" javaclass="com.wm.util.Values">
    <value name="urlPath">restV2/HG_Finora:http/deleteTransaction</value>
    <record name="portMap" javaclass="com.wm.util.Values">
    </record>
  </record>
  <record name="getDashboardInfo" javaclass="com.wm.util.Values">
    <value name="urlPath">restV2/HG_Finora:http/getDashboardInfo</value>
    <record name="portMap" javaclass="com.wm.util.Values">
    </record>
  </record>
  <record name="uploadDoc" javaclass="com.wm.util.Values">
    <value name="urlPath">restV2/HG_Finora:http/uploadDoc</value>
    <record name="portMap" javaclass="com.wm.util.Values">
    </record>
  </record>
  <record name="fetchDoc" javaclass="com.wm.util.Values">
    <value name="urlPath">restV2/HG_Finora:http/fetchDoc</value>
    <record name="portMap" javaclass="com.wm.util.Values">
    </record>
  </record>
  <record name="deleteDoc" javaclass="com.wm.util.Values">
    <value name="urlPath">restV2/HG_Finora:http/deleteDoc</value>
    <record name="portMap" javaclass="com.wm.util.Values">
    </record>
  </record>
  <record name="updateDoc" javaclass="com.wm.util.Values">
    <value name="urlPath">restV2/HG_Finora:http/updateDoc</value>
    <record name="portMap" javaclass="com.wm.util.Values">
    </record>
  </record>
  <record name="registerLoan" javaclass="com.wm.util.Values">
    <value name="urlPath">restV2/HG_Finora:http/registerLoan</value>
    <record name="portMap" javaclass="com.wm.util.Values">
    </record>
  </record>
  <record name="getLoans" javaclass="com.wm.util.Values">
    <value name="urlPath">restV2/HG_Finora:http/getLoans</value>
    <record name="portMap" javaclass="com.wm.util.Values">
    </record>
  </record>
  <record name="forcloseLoan" javaclass="com.wm.util.Values">
    <value name="urlPath">restV2/HG_Finora:http/forcloseLoan</value>
    <record name="portMap" javaclass="com.wm.util.Values">
    </record>
  </record>
</Values>
